/* some fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
/* color variables */
:root {
  --bg-dark: #161922;
  --main-txt-clr: #646583;
  --sec-color: #fedc7b;
  --btn-border: #959595;
  --bg-ltn: #191d28;
  --text-lgt: #b1b3c1;
}

/* Header styling */
header {
  background-color: var(--bg-dark);
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 0 2.5rem;
}

.logo {
  font-weight: 1000;
  font-size: 27px;
  color: var(--sec-color);
}

header ul {
  display: flex;
}

header ul li {
  padding: 0.6rem;
}

header ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 3px;
  letter-spacing: 0.2rem;
  transition: border-width 0.3s linear;
}

header ul li a:hover {
  border-bottom: 2px solid var(--sec-color);
  border-width: 0.3rem;
  text-decoration: none;
}

header .hire-me {
  background-color: white;
  padding: 0.3rem 1.7rem;
  display: flex;
  align-items: center;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  border: 3px solid var(--btn-border);
  transition: all 0.3s ease-in;
}

.hire-me:hover {
  background-color: var(--sec-color);
}

.hire-me img {
  height: 1rem;
  outline: none;
  width: 1rem;
  margin-left: 5px;
}

.hamburger {
  background-color: transparent;
  border: none;
  display: none;
}

.hamburger img {
  height: 30px;
  width: 30px;
}

/* Header responsiveness */
@media only screen and (max-width: 768px) {
  header ul,
  .hire-me {
    display: none !important;
  }

  .logo {
    font-size: 26px;
  }

  .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 568px) {
  header {
    flex-direction: row-reverse;
    padding: 0 0.5rem;
  }

  .logo {
    display: none;
  }
}

main {
}

.welcome {
  background-color: var(--bg-ltn);
  height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem;
  font-family: "Montserrat", sans-serif;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto;
}

.greetings {
  display: flex;
  align-items: center;
  color: var(--sec-color);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-top: 1rem;
}

.greetings .greet-dash {
  width: 1.25rem;
  border: 1px solid var(--sec-color);
  margin-right: 10px;
}

.intro span {
  font-weight: 1000;
  font-size: 38px;
  margin: 1rem 0;
}

.intro span em {
  color: var(--sec-color);
}

.short-description {
  line-height: 26px;
  font-size: 20px;
  margin-bottom: 4rem;
  font-family: "Tenali Ramakrishna", sans-serif;
}

.btn-overall {
  border: none;
  padding: 0.6rem 1.25rem;
  outline: none;
  font-size: 9px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--sec-color);
  margin-bottom: 1rem;
}

.btn-overall a:hover {
  text-decoration: none;
  outline: none;
}

.btn-verall:hover {
  color: var(--sec-color);
}

.btn-overall:focus,
.btn-overall:active {
  outline: 0;
  border: none;
  -moz-outline: none;
}

.social {
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: flex-end;
}

.social-item {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-item a {
  text-decoration: none;
  margin: 0 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a6aab7;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid var(--bg-ltn);
}

.social-item a i {
  font-size: 18px;
}

.social-item a:hover {
  color: var(--sec-color);
  border-bottom: 1px solid var(--sec-color);
}

.scroll-down {
  display: flex;
  position: relative;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.2rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transform: rotate(90deg);
  color: var(--sec-color);
  width: 145px;
  height: 130px;
}

.scroll-down i {
  margin-left: 9px;
}

@media only screen and (max-width: 568px) {
  .scroll-down {
    display: none;
  }

  header {
    height: 50px;
  }

  .social {
    justify-content: center;
  }

  .welcome {
    padding: 0.8rem 0.3rem;
  }
}

.my-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-image img {
  height: 264px;
  width: 236px;
  border-radius: 50%;
}

.about-me {
  padding: 4rem 0;
  background-color: var(--bg-dark);
  font-family: "Tenali Ramakrishna", sans-serif;
}

.about-me-item {
  font-family: "Montserrat", san-ser1f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
  padding-top: 1rem;
}

.about-me-item p {
  line-height: 1.25rem;
}

.about-me-item .btn {
  margin-top: 0.9rem;
  border: 1px solid var(--sec-color);
  background-color: transparent !important;
  border-radius: none !important;
  color: var(--sec-color);
  font-weight: 800;
  font-size: 14px;
}

.about-me-item .btn:hover {
  background-color: var(--sec-color) !important;
  color: black;
}

.about-me-item .dasher {
  display: inline-block;
  width: 1.5rem;
  border-bottom: 2px solid var(--sec-color);
  margin-right: 1rem;
}
.about-me-header {
  margin-bottom: 1rem;
}
.about-me-header h3 {
  font-weight: 1000;
  font-size: 22px;
  color: var(--sec-color);
}

.expertise-wrapper {
  background-color: var(--bg-ltn);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  padding: 4rem 0;
  color: var(--main-txt-clr);
}

.skillset-container {
  display: grid;
  max-width: 1100px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.8rem;
}

@media screen and (max-width: 768px) {
  .skillset-container {
    grid-template-columns: 1fr;
  }
  .expertise-wrapper {
    padding: 1.5rem;
  }

  .skillset-item {
    text-align: center;
  }
}

.skillset-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--main-txt-clr);
  padding: 1rem;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 0 2px 2px var(--bg-dark);
}

.skillset-item ul li::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  border: 1px solid var(--main-txt-clr);
  left: -1.7rem;
  top: 0.35rem;
}

.skillset-item:hover {
  box-shadow: 0 0 19px 20px var(--bg-dark);
  border-radius: 4px;
}

.skillset-item svg {
  width: 30px;
  height: 30px;
  margin-bottom: 0.8rem;
}

.skillset-item h2 {
  font-weight: 800;
  font-size: 13px;
  color: var(--sec-color);
  margin-bottom: 0.8rem;
}
.skillset-item h2:hover {
}

.skillset-item h4 {
  line-height: 1.25rem;
  margin-bottom: 0.7rem;
}

.skillset-item span {
  color: var(--sec-color);
  margin-bottom: 0.4rem;
  font-size: 12px;
}

.featured-works {
  background-color: var(--bg-dark);
  padding: 4rem 0;
  font-family: "MontSerrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-works-item {
  display: flex;
  flex-direction: column;
  background-color: #191d28;
  color: #b1b3c1;
  margin: 0.5rem 0.5rem;
  font-weight: 500;
}

.featured-works-item .card {
  font-size: 13px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-works-item .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 0.4rem;
}

.featured-works-item .card span {
  color: #6deae6;
  margin-bottom: 0.3rem;
}

.featured-works-item .card-body .card-text {
  line-height: 1rem;
}

.featured-works-item .card-body .card-title {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--sec-color);
}

.featured-works-item .card-body a {
  text-decoration: none;
}

.featured-works-item .card ul li {
  margin: 0.3rem 0;
}

.featured-works .header-wrapper p a {
  color: white;
}

.featured-works .header-wrapper p a:hover {
  color: var(--sec-color);
}

@media screen and (max-width: 768px) {
  .featured-works-item {
    flex-direction: column;
  }
}

.resume-education-wrapper {
  background-color: var(--bg-ltn);
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.resume__header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 800;
  margin-bottom: 1rem;
}

.resume__header h2 {
  font-weight: 800;
}

.resume__header svg {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
}
.education-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 13px;
  max-width: 365px;
  color: var(--main-txt-clr);
  font-family: "Montserrat", sans-serif;
  background-color: #161922;
  padding: 0.9rem;
  box-shadow: 0 0 2px 3px #171a23;
  transition: all 0.2s ease-in;
  margin-bottom: 1.25rem;
}

@media only screen and (max-width: 500px) {
  .education-item {
    text-align: center;
    align-items: center;
  }
}

.education-item:hover {
  box-shadow: 0 0 7px 8px var(--bg-dark);
  background-color: var(--bg-ltn);
  transform: scale(1.025);
}

.education-item time {
  margin-bottom: 0.8rem;
}

.education-item h2 {
  color: var(--sec-color);
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 0.4rem;
}

.education-item p {
  line-height: 1rem;
  font-weight: 500;
}

.education-item a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  margin-top: 0.4rem;
  font-weight: 800;
}

.education-item a:hover {
  text-decoration: underline;
}

.testimonials-clients {
  background-color: var(--bg-dark);
  font-family: "Montserrat", sans-serif;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

span.header-wrapper > h2 {
  color: var(--sec-color);
  font-weight: 1000;
  font-size: 20px;
  margin-bottom: 1rem;
}

span.header-wrapper > p {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  color: var(--main-txt-clr) !important;
  margin-bottom: 2rem;
  color: var(--text-lgt);
  line-height: 1.25rem;
}

.testimonials-item {
  max-width: 242px;
  color: var(--main-txt-clr);
  background-color: #1b212f;
  padding: 2rem 0.9rem;
  margin: 0 10px 10px;
  transition: all 0.2s ease-in-out;
}

.testimonials-item:hover {
  box-shadow: 0 0px 8px 8px #101318;
  transform: scale(1.1);
}

.testimonials-item > article {
  font-style: italic;
  font-size: 12px;
  line-height: 1rem;
}

.testimonials-wrapper {
  width: auto;
  margin-bottom: 5rem;
}

.testimonials-wrapper .row {
  width: auto;
}

.testimonial-owner-info {
  display: flex;
  margin-top: 1.5rem;
}

.quote-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

.quote-wrapper img {
  height: 25px;
  width: 25px;
}

.owner-image-wrapper {
  height: 41px;
  width: 48px;
  display: flex;
}

.owner-name {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
}

.owner-name span:first-child {
  font-size: 14px;
  font-weight: 600;
  color: var(--sec-color);
}

.owner-name span:last-child {
  margin-top: 0.4rem;
  font-size: 10px;
}

.owner-image {
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.company {
  margin: 2rem 0 0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.company-item {
  text-decoration: none;
  margin: 1rem;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--main-txt-clr);
}

.company-item:hover {
  transform: scale(1.1);
  border: 1px solid var(--sec-color);
  box-shadow: 0 0 5px 6px #101318;
}

.company-item svg {
  height: 45px;
  width: 45px;
}

.ask-client {
  background-color: var(--bg-ltn);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  color: #7f838e;
  font-family: "Montserrat", sans-serif;
}

.ask-client p {
  margin-bottom: 1.3rem;
  font-weight: 600;
  font-size: 12px;
}

.ask-client h3 {
  margin-bottom: 1.5rem;
  color: var(--sec-color);
  font-size: 2rem;
}

.ask-client a {
  margin: 0;
}

.contact-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--bg-ltn);
  background: linear-gradient(
    var(--bg-dark) 0%,
    var(--bg-dark) 50%,
    var(--bg-ltn) 50%,
    var(--bg-ltn) 100%
  );
  justify-content: center;
}

.contact-info {
  width: 70%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.teaser {
  display: flex;
  align-items: flex-end;
  flex: 1 1 auto;
  color: #b1b3c1;
  padding: 3rem 0 2rem;
}

.teaser p {
  font-size: 1.4rem;
  font-family: "Arvo", serif;
  line-height: 2rem;
  padding-right: 1rem;
}

.teaser p em {
  color: var(--sec-color);
}

.info-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash {
  border: 1px solid var(--sec-color);
}

.dash-sm {
  width: 1rem;
  margin-right: 6px;
}

.dash-lg {
  width: 2.25rem;
}

.info-right i {
  color: var(--sec-color);
  font-size: 12px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 3rem;
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--sec-color);
}

.contact-details ul {
}

.contact-details ul li {
  margin: 0.7rem;
  position: relative;
  left: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.contact-details ul li::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  border: 1px solid var(--main-txt-clr);
  left: -1.7rem;
  top: 0.35rem;
}

.contact-details .social-item a i {
  font-size: 14px;
}

.form-container {
  display: flex;
  align-items: center;
}

.shadow-ov {
  background-color: #1b212f;
  box-shadow: 0px 0px 26px #13161f;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2.5rem 3rem;
  margin-left: 1rem;
  color: #b1b3c1;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.contact-form input {
  color: var(--main-text-clr);
  margin-bottom: 1.5rem;
  border: none;
  width: 17rem;
  outline: none;
  line-height: 2.25rem;
  background-color: transparent;
  border-bottom: 2px solid gray;
  font-weight: 800;
}

.contact-form input:hover,
.contact-form input:focus {
  color: var(--sec-color);
  border-bottom: 2px solid var(--sec-color);
}

.contact-form label {
  display: flex;
  flex-direction: column;
  color: var(--main-text-clr);
}

.contact-form label input {
  margin: none;
}

@media only screen and (max-width: 991px) {
  .contact-me {
    grid-template-columns: 1fr;
  }

  .form-container {
    justify-content: center;
    padding: 0 5px;
  }

  .info-right {
    display: none;
  }

  .contact-form {
    margin: 0;
  }

  .contact-from label input {
    width: auto;
  }
}

@media screen and (max-width: 568px) {
  .contact-info {
    width: 100%;
    padding: 0 !important;
  }

  .teaser p {
    font-size: 0.9rem !important;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .contact-info {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  .testimonials-item {
    margin: auto;
  }

  .contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form {
    padding: 1rem;
  }

  .contact-details {
    align-items: center;
  }

  .contact-form input {
    width: 100%;
  }

  .teaser {
    padding: 0 !important;
    margin: 0 1rem;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .teaser p {
    font-size: 1.25rem;
    max-width: 500px;
    text-align: center;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-dark);
  color: var(--main-txt-clr);
  font-size: 12px;
  justify-content: center;
  padding: 1rem 0.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

footer p {
  text-align: center;
  word-wrap: break-word;
  margin-top: 0.25rem;
}

footer span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

footer span time {
  margin-right: 0.2rem;
}

footer span {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span img {
  height: 20px;
  width: 20px;
}
